<h2> <center>New Bookmark</center> </h2>
<br><br><br>
<form action="/create_link">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="url" placeholder="url">
  <input type="submit">
</form>