<div>
<h1><%= "#{@link.name}" %></h1>
  <p>
 <a href=<%= "#{@link.url}" %> > <%= "#{@link.name}" %></a>
  </p>
    <p>
    <a class="allbookmarks" href="http://gitbox-131549.use1.nitrousbox.com/links">All Bookmarks </a>
  </p>
